{
  "DefaultAdmin": {
    "UserName": "admin",
    "Email": "admin@poopnpour.com",
    "Password": "YourAdmin@123",
    "FirstName": "Admin",
    "LastName": "User"
  },
  "ApiClients": [
    {
      "UserName": "webapi",
      "Email": "webapi@poopnpour.com",
      "Password": "WebApi@123!Secure",
      "Role": "Web_Api",
      "FirstName": "Web",
      "LastName": "API Client"
    },
    {
      "UserName": "mobileapi",
      "Email": "mobileapi@poopnpour.com",
      "Password": "MobileApi@123!Secure",
      "Role": "Mobile_Api",
      "FirstName": "Mobile",
      "LastName": "API Client"
    }
  ]
}
